venv/
src/*.egg-info/
**/__pycache__/
.python-version
.DS_Store
pyrightconfig.json
**/.speakeasy/temp/
**/.speakeasy/logs/
.speakeasy/reports
.env.local
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
.coverage
coverage.xml
.mypy_cache/
.pytest_cache/
.ruff_cache/
node_modules/
app/dist/
.env
live_receipt.json
